
div.nav {
    position: fixed;
}




.navList {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-right: 500px;
    display: block;
    float: left;
}
.navList2 {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}
.navListItem {
    float: left;
}
.navListItem2 {
    float: left;
}

.navListItemText {
    padding: 5px;
    text-decoration:none; 
    color:black;
}

.header{
    
    
    text-align: center;
    color: white;
    height: 300px;
}
.headerImage{
    
    max-width: 100%;
    max-height: 600px;
}

.titleWords {
    position: absolute;
    top: 50%;
    left: 50%;
    

}
input{
    display:block;
}
.registerForm {
    position: relative;
    bottom: 10%;
}
.loginForm{
    position: relative;
}

.footerText{
    text-align: center;
    
}
.roomDisplay {
    position: static;
    display: block;
    position: absolute;
    top: 20%;
    clear: both;

}

form.selectForm {
  position: relative;
  margin-top: 50px;
  
}

form.input.hiddenVariables{
    display: none;
}



